body {
    font-family: Charlotte Std, Georgia, serif;
    font-size: 13pt;
    line-height: 130%;
}

h1, h2, h3 {
    font-family: Charlotte Sans Std, Helvetica, sans-serif;
    line-height: 120%;
}

.pointer {
    color: #222;
    border-bottom: 1px dotted #222;
    cursor: help;
}
.pointer:hover {
    color: #11a;
    border-bottom: 1px dotted #11a;
}
